* {font-family: 'Noto Serif', serif; color: black;}

a:link {text-decoration: none;}

.ppal  {
    color: black;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    border: rgb(130, 141, 240); border-style: solid;
    border-width: 0.2rem;
    font-weight: bold; font-family: 'Noto Serif', serif;
    position: relative; min-width: 50px; min-height: 30px;
    font-size: 1.7em;
   }

.ppal header {position: fixed}

.ppal > h1 {font-weight: bold; font-size: 2rem; text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    }

#logo img {position: fixed; background-color: rgb(225, 235, 206); border: 1px solid #ddd;  border-radius: 10px;  padding: 2px; top: 2%; float: left;
    width: 70px;
    opacity: 1;}

.menu1 ul {background-color: #DCD9D4; 
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    ; min-width: 50px; min-height: 20px;
    display:flex;  flex-wrap: wrap; justify-content: space-around;
    flex-direction: row;
}



 .form-check-inline {background-color: white; border-style: solid; border-color: black;
        opacity: 1; font-weight: bolder; border-radius: 0.5em;}
  
 .btn { 
      position: left;
  }

body {background-image: url("/img/img2.jpg"); 
    margin-left: 10px;
    background-size: cover;
}

body > footer {background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); border-style: solid; min-width: 50px; font-weight: bold; font-size: 1rem; 
text-align: center;
}

.footer {font-style: bold;}
#seguinos {font-size: 0.9rem; font-weight:bold;}

.msec > footer {background-color:#fefffe !important; border-style: none; text-align: left; font-style: bold; border-color:blueviolet
}

#redes {background-color: rgb(176, 206, 207); min-width: 50px; min-height: 10px;}

#redes ul {display:flex; flex-direction: row; justify-content: space-around;}